@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/functions" as *;

html,
body {
  width: 100vw;
  overflow-x: hidden;
  scrollbar-color: var(--color-dark) transparent;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 16px;
  font-family: var(--font-family-base);
  color: var(--text-color);
  font-weight: 400;
  background-color: var(--background-color);
  background-image: url("/gradient.png");
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    @include square(clamp(25rem, 20rem + 25vw, 50rem));
    border: 1px solid var(--color-lightgray);
    position: absolute;
    top: -20%;
    right: -10%;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
  }
}

button {
  @include reset-button;
}

a {
  text-decoration: none;
  color: currentColor;
}
