@use "@/shared/styles/functions" as *;
@use "@/shared/styles/mixins" as *;

.profile {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;

  &Title {
    font-size: clamp(3.125rem, 2.5rem + 3.13vw, 6.25rem);
    padding-bottom: rem(20);
  }

  &Content {
    display: flex;
    align-items: center;
    gap: rem(100);
  }

  &Avatar {
    @include square(clamp(15.625rem, 12.5rem + 15.63vw, 31.25rem));
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &Description {
    font-size: rem(20);
  }

  &Accent {
    font-weight: 700;
  }
}
