@use "@/shared/styles/functions" as *;

.button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: var(--border-radius);
  padding-block: rem(10);
  padding-inline: rem(20);
  font-weight: 500;
  transition: background-color var(--transition-duration),
    color var(--transition-duration);

  &:hover:not(:disabled) {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }

  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }
}
