@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/functions" as *;

.city {
  @include flex-between;
  padding: rem(5);
  padding-left: rem(15);
  border: 1px solid var(--color-lightgray);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  cursor: pointer;
  transition: transform var(--transition-duration);

  &:hover {
    transform: translateX(5px);
  }

  &Name {
    flex: 1;
  }

  &Button {
    padding-block: rem(4);
  }
}
