@use "@/shared/styles/functions" as *;
@use "@/shared/styles/mixins" as *;

.form {
  max-width: rem(400);

  &Wrapper {
    @include flex-center;
    gap: rem(4);
    margin-bottom: rem(5);
  }

  &Input {
    border-radius: var(--border-radius);
    border: var(--border);
    padding-block: rem(5);
    padding-inline: rem(15);
    width: 100%;
  }

  &Button {
    padding: rem(5);
  }
}
