@use "@/shared/styles/functions" as *;

.weather {
  padding-block: rem(30);
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;

  &Content {
    flex: 3.5;
  }

  &Cities {
    height: calc(100vh - #{rem(30)} * 2 - var(--header-height));
    overflow-y: auto;
    scrollbar-width: thin;
    flex: 1;
    background-color: var(--background-color);
    padding-inline: rem(20);
    padding-block: rem(40);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-lightgray);

    @media screen and (max-width: 992px) {
      position: absolute;
      top: 0;
      right: rem(10);
      transform: translateX(calc(100% + #{rem(10)}));
      transition: transform var(--transition-duration);
      z-index: 10;
    }

    &Active {
      transform: translateX(0%);
    }
  }

  &Close {
    position: absolute;
    top: rem(10);
    right: rem(10);
    padding-block: rem(4);
    display: none;

    @media screen and (max-width: 992px) {
      display: block;
    }
  }

  &Button {
    position: absolute;
    top: rem(30);
    right: rem(20);
    display: none;
    padding: rem(8);

    @media screen and (max-width: 992px) {
      display: flex;
    }
  }
}
