@use "@/shared/styles/functions" as *;

.weather {
  padding-block: rem(30);
  display: flex;
  justify-content: space-between;

  &Content {
    flex: 3.5;
  }

  &Cities {
    height: calc(100vh - #{rem(30)} * 2 - var(--header-height));
    overflow-y: auto;
    scrollbar-width: thin;
    flex: 1;
    background-color: var(--color-light);
    padding: rem(20);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-lightgray);
  }
}
