@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/functions" as *;

.header {
  &Wrapper {
    @include flex-center;
    min-height: var(--header-height);
  }

  &Nav {
    @include flex-center;
    background-color: var(--color-dark);
    padding: rem(10);
    border-radius: rem(40);
    gap: rem(8);
  }

  &List {
    @include flex-center;
    gap: rem(8);
  }

  &Link {
    padding-block: rem(10);
    padding-inline: rem(15);
    border-radius: var(--border-radius);
    color: var(--color-light);
    font-weight: 600;
    transition: color var(--transition-duration),
      background-color var(--transition-duration);

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-dark);
    }
  }
}
