@use "@/shared/styles/functions" as *;
@use "@/shared/styles/mixins" as *;

.week {
  padding-right: rem(20);

  &Plan {
    font-size: rem(14);
  }

  &Days {
    display: flex;
    gap: rem(20);
    padding-top: rem(30);
  }

  &Day {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-lightgray);
    padding: rem(20);
    flex: 1;
  }

  &Date {
    font-weight: 500;
    font-size: rem(16);
  }

  &Temp {
    font-weight: 700;
    font-size: rem(28);
  }

  &Condition {
    @include flex-center;
    gap: rem(5);
  }
}
